@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

body {
  background-color: #f0f2f5;
}

.ant-layout-header {
  background-color: #001529;
}

.ant-menu-dark.ant-menu-horizontal {
  line-height: 64px;
}

.ant-menu-dark .ant-menu-item-selected {
  background-color: #1890ff;
}

.ant-card {
  border-radius: 10px;
}

.ant-btn-primary {
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
